<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ldg.study.springboot.orm.mybatis.v3.dao.UserMapper">
    <resultMap id="BaseResultMap" type="ldg.study.springboot.orm.mybatis.v3.model.User">
        <result column="companyName" property="companyName" jdbcType="VARCHAR" />
        <result column="userid" property="userId" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        userid,companyName
    </sql>

    <select id="find" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM UserBasic
        limit 1;
    </select>

</mapper>